*{
	margin: 0;
	padding-left: 0;
}

body{
	font-family: 'Roboto', serif;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* Navigator bar */

nav.navbar.navbar-default{
  border: none;
  margin-bottom: 0;
}

.navbar-custom{
  padding: 20px 0;
}

.navbar-brand{
  float: none;
  position: relative;
}

.logo{
  margin-left: 20px;
}

.logo-title{
  position: relative;
  font-style: italic;
  font-size: 16px;
  color: #fff;
  margin-left: -15px;
  top: 5px;
}

.navbar-inner > li > a{
  color: #fff !important;
  padding: 10px 20px;
  margin-top: 5px;
}

.navbar-inner > li:hover > a{
  background: rgba(0,0,0,0.5) !important;
  transition: 0.5s;
}

.search-bar{
  width: 400px;
  color: #fff;
}

.navbar-form.navbar-right{
  margin-right: 10px !important;
}

/* Footer */

.footer{
  text-align: left;
  text-shadow: none;
  padding: 20px;
}

.place{
  display: block;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.bot-fix{
  height: 110px;
  overflow: hidden;
  position: relative;
}

.footer-links{
  position: absolute;
  bottom: 0;
}

.footer-link{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-link:after{
  content:" | ";
}

.footer-link:hover, .course-list > li:hover{
  text-decoration: underline;
}

.course-list{
  list-style-type: none;
}

.course-list > li > a > i{
  width: 14px;
  margin-right: 5px;
}