*{
	margin: 0;
	padding-left: 0;
}

body{
	font-family: 'Roboto', serif;
}

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
  text-decoration: none;
}

/* COVER */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: url('../img/bg.jpg') no-repeat;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
  
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}	


/*
 * Cover
 */

.cover {
  padding: 20px;
  margin: 0 auto;
  width: 80%;
  /*background: rgba(0,0,0,0.75);*/
  border-radius: 22px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

.cover-heading{
	margin: 15px;
	font-size: 50px;
  text-transform: uppercase;
}

.cover-search{
	width: 80%;
	margin: 30px auto;
}

.cover-search input{
	width: 75%;
	height: 56px;
	font-size: 24px;
	display: inline-block;
}

.cover-search button{
	display: inline-block;
	vertical-align: top;
	margin-left: -6px;
	padding: 13px 26px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
  background: rgba(16,145,35,1);
}

.cover-search button>i{
	font-size: 2em;
}

.feature{
	margin-left: 40px;
	list-style-type: none;
}

.feature>li{
	text-align: left;
	margin-bottom: 5px;
	font-size: 18px;
}

.contributing{
	margin-top: 15px;
	font-style: italic;
	font-weight: 500;
}

.gray{
  background: #efefef;
}

.light-gray{
  background: #e3e3e3;
}

.dark-gray{
  background: rgba(56,56,56,0.9);
}

/* Topic box */

.topic-heading{
  margin: 30px 0px;
  color: #333;
  font-size: 36px;
  text-shadow: none;
}

.text-heading{
  color: rgba(255,92,92,1);
}

.topic-box{
  display: table;
  margin: 0 auto;
  width: 150px;
  height: 150px;
  padding: 20px;
}

.topic-box > div{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.topic-box > div > h3{
  margin-top: 5px;
  font-size: 20px;
}

/* Course box */

.courses > .row{
  margin-top: 30px;
}

.course-box{
  width: 350px;
  height: 320px;
  background: rgba(16,145,35,0.9);
  margin: 0 auto;
  text-align: left;
  position: relative;
  z-index: 1;
}

.course-title-box{
  position: absolute;
  width: 100%; 
  padding: 25px 20px;
  bottom: 120px;
  z-index: 3;
}

.course-title{
  margin-top: 0;
  font-size: 20px;
}

.course-title:hover{
  text-decoration: underline;
  cursor: pointer;
}

.course-img-box{
  position: relative;
}

.course-img-layer{
  width: 100%; height: 100%;
  position: absolute; 
  top: 0;
  background: -moz-linear-gradient(top, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.6)), color-stop(100%,rgba(0,0,0,0.75))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.75) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.75) 100%); /* IE10+ */
  z-index: 2;
}

.course-img{
  width: 100%;
  height: 100%;
  position: relative;
}

.course-label{
  position: absolute;
  top: 0;
  background: rgba(252,86,56,1);
  z-index: 4;
  padding: 10px;
  border-bottom-right-radius: 12px;
  text-transform: uppercase;
}

.author-avatar{  
  vertical-align: top;
  margin-top: -20px;
  margin-left: 20px;
  width: 80px;
  position: relative;
  z-index: 5;
  padding: 2px;
  border-radius: 0;
}

.author-name{
  display: block;
  font-size: 20px;
  margin-top: 10px;
}

.author-details{
  display: inline-block;
}

.author-details > * {
  margin-left: 5px;
}

.author-title{
  font-style: italic;
  font-weight: 300;
  font-size: 12px;
}

.course-info{
  margin: 20px -15px;
  text-align: center;
  font-size: 16px;
}

.course-details{
  position: absolute;
  width: 100%; height: 100%;
  bottom: 0;
  z-index: 6;
  padding: 30px;
  text-align: center;
  display: none;
  background: rgba(0,0,0,0.9);
}

.course-details > i{
  cursor: pointer;
  font-size: 24px;
}

.course-enroll{
  display: block;
  width: 200px;
  margin: 10px auto 0 auto;
  padding: 10px 30px;
  border: 2px solid #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.course-enroll:hover{
  background: #3276b1;
  text-shadow: none;
}

.show{
  opacity: 1 !important;
  display: block;
}

.hide{
  opacity: 0 !important;
  display: none;
}

.animate-flip{
  -webkit-animation-duration: 1.2s;
  -webkit-animation-delay: 0s;
}

.see-more{
  width: 100%;
  padding: 20px 0;
  margin-bottom: 60px;
}

.see-more h3{
  margin: 0;
}

/* Testimonials */

.testimonials{
  margin-bottom: 30px;
  text-shadow: none;
}

.testimonials .col-xs-12 > h4{
  font-weight: 500;
}

.testimonial{
  opacity: 0;
  
}

.testimonial-avatar{
  width: 140px; 
  border-radius: 50%;
}

.testimonials span {
  display: block;
  color: #333;
}

.testimonial-name{
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
}

.testimonial-title{
  margin-top: 0;
  font-style: italic;
}

.testimonial-box{
  margin-top: 30px;
  padding: 20px;
  border-radius: 5%;
  position: relative;
}

.testimonial-box > p{
  margin: 10px 0 0 0;
}

.poly-shape{
  display: block;
  width: 20px; height: 20px;
  margin: -30px auto 0 auto;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* About us */

.about-us{
  padding: 30px;
}

.about-us > h4{
  width: 400px;
  color: #fff;
  padding: 10px;
  margin: 0 auto 20px auto;
  background: rgba(0,0,0,0.5);
  border-radius: 12px;
}

.about-us > p{
  width: 80%;
  text-shadow: none;
  color: #333;
  margin: 0 auto;
  font-weight: 300;
  font-size: 20px;
}

/* Footer */

.footer{
  text-align: left;
  text-shadow: none;
  padding: 20px;
}

.place{
  display: block;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.bot-fix{
  height: 110px;
  overflow: hidden;
  position: relative;
}

.footer-links{
  position: absolute;
  bottom: 0;
}

.footer-link{
  display: inline-block;
  font-size: 14px;
  margin-bottom: 15px;
}

.footer-link:after{
  content:" | ";
}

.footer-link:hover, .course-list > li:hover{
  text-decoration: underline;
}

.course-list{
  list-style-type: none;
}

.course-list > li > a > i{
  width: 14px;
  margin-right: 5px;
}

/* Modal */

.modal{
  display: none;
  background: rgba(255,255,255,1);
  width: 600px;
  border-radius: 12px;
  overflow: hidden;
  text-shadow: none;
  color: #333;
  padding: 30px;
}

.register-modal{
  height: 300px;
}

.login-modal{
  height: 250px;
}

.modal-heading h4{
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.modal > form input{
  border-radius: 0px;
  margin-top: -1px;
}

.modal > form input:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal > form input[name='password-retype']{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal .form-submit{
  display: block;
  margin-top: 10px;
  width: 100%;
}

.form-notif{
  text-align: left;
  font-size: 14px;
  line-height: 34px;
}

.form-notif > p{
  margin-bottom: 0;
}

/* Box variations */

.box-blue{
  background: rgba(25,162,222,1);
}

.box-mango{
  background: rgba(239,150,8,1);
}

.box-green{
  background: rgba(49,154,49,1);
}

.box-pink{
  background: rgba(255,97,234,1);
}

.box-brown{
  background: rgba(156,81,0,1);
}

.box-purple{
  background: rgba(165,0,255,1);
}

.box-red{
  background: rgba(308,62,100,1);
}

.box-teal{
  background: rgba(0,170,173,1);
}

.box-magenta{
  background: rgba(255,0,148,1);
}

.box-lime{
  background: rgba(140,190,41,1);
}

.box-dark{
  background: rgba(79,79,79,1);
}

.animate-even{
  -webkit-animation-duration: 1.2s;
  -webkit-animation-delay: 0.2s;
}

.animate-odd{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
}

.animate-pulse{
  -webkit-animation-duration: 0.2s !important;
  -webkit-animation-delay: 0s !important;
}

.show{
  opacity: 1 !important;
  -webkit-transition-duration: 2.5s;
}

/* Responsive */

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 90%;
  }
}

/* For large modern screen */
@media (max-width: 1366px) and (min-width: 1288px){

}

/* Preset for all size */
@media (max-width: 1287px) and (min-width: 480px){
  .topic-box{
    margin-top: 20px;
  }
  .course-box{
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1287px) and (min-width: 1025px){
  .cover-heading{
    font-size: 45px;
  }
  .author-name{
    font-size: 16px;
  }
}

/* For casual desktop #1 to 110% */
@media (max-width: 1287px) and (min-width: 1171px){
  .course-title{
    font-size: 18px;
  }
}

/* For casual desktop 110% to 125% */
@media (max-width: 1170px) and (min-width: 1025px){
  .course-details > p{
    font-size: 12px;
  }
  .course-title{
    font-size: 17px;
  }
}

/* For smaller device 125% to 150% */
@media (max-width: 1024px) and (min-width: 768px){
  .cover-heading{
    font-size: 40px;
  }
  .cover-search input{
    width: 60%;
    height: 46px;
    font-size: 16px;
  }
  .cover-search button{
    padding: 8px 16px;
  }
  .course-box{
    margin-top: 20px;
  }
}

/* Preset for full width course-box */
@media (max-width: 992px) and (min-width: 480px){
  .site-wrapper{
    height: 768px;
    min-height: 768px;
  }
  .course-box{
    margin-top: 20px;
  }
  .cover-heading{
    font-size: 40px;
  }
  .modal{
    top: 35% !important;
  }
  .course-label{
    font-size: 36px;
    padding: 20px;
  }
  .course-title-box{
    bottom: 35%;
  }
  .course-title{
    font-size: 30px;
  }
  .course-details > p{
    font-size: 20px;
  }
  .course-info{
    font-size: 26px;
  }
  .author-avatar{
    width: 140px;
  }
  .author-name{
    font-size: 26px;
  }
  .author-title{
    font-size: 22px;
  }
  .testimonial-box{
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) and (min-width: 480px){
  .course-label{
    font-size: 26px;
    padding: 15px;
  }
  .course-title-box{
    bottom: 45%;
  }
  .course-title{
    font-size: 22px;
  }
  .author-name{
    font-size: 20px;
  }
  .author-title{
    font-size: 16px;
  }
  .course-details > p{
    font-size: 14px;
  }
}

/* For medium desktop view */
@media (width: 1024px){

}

/* For standard tablet view */
@media (width: 768px){
  
}

/* For standard phone */
@media (max-width: 480px){
  .cover-heading{
    font-size: 30px;
  }
  .cover{
    margin: 0 auto 20px auto;
  }
  .cover-search input{
    width: 70%;
    font-size: 14px;
    height: 40px;
  }
  .cover-search button{
    padding: 5px 10px;
  }
  .see-more h3{
    font-size: 18px;
  }
  .testimonial-box{
    margin-bottom: 20px;
  }
  .modal{
    width: 400px;
    height: 280px;
    padding: 15px;
    top: 50% !important;
  }
  .form-notif{
    line-height: 28px;
  }
}