/* Background preset */

.gray{
  background: #efefef;
}

.light-gray{
  background: #e3e3e3;
}

.dark-gray{
  background: rgba(56,56,56,0.9);
}

/* Box variations */

.box-prime{
  background: rgba(16,145,35,1);
}

.box-blue{
  background: rgba(25,162,222,1);
}

.box-mango{
  background: rgba(239,150,8,1);
}

.box-green{
  background: rgba(49,154,49,1);
}

.box-pink{
  background: rgba(255,97,234,1);
}

.box-brown{
  background: rgba(156,81,0,1);
}

.box-purple{
  background: rgba(165,0,255,1);
}

.box-red{
  background: rgba(308,62,100,1);
}

.box-teal{
  background: rgba(0,170,173,1);
}

.box-magenta{
  background: rgba(255,0,148,1);
}

.box-lime{
  background: rgba(140,190,41,1);
}

.box-dark{
  background: rgba(79,79,79,1);
}

.animate-even{
  -webkit-animation-duration: 1.2s;
  -webkit-animation-delay: 0.2s;
}

.animate-odd{
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 0.4s;
}

.animate-pulse{
  -webkit-animation-duration: 0.2s !important;
  -webkit-animation-delay: 0s !important;
}

.show{
  opacity: 1 !important;
  -webkit-transition-duration: 2.5s;
}

/* Modal */

.modal{
  display: none;
  background: rgba(255,255,255,1);
  width: 600px;
  border-radius: 12px;
  overflow: hidden;
  text-shadow: none;
  color: #333;
  padding: 30px;
}

.register-modal{
  height: 300px;
}

.login-modal{
  height: 250px;
}

.modal-heading h4{
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.modal > form input{
  border-radius: 0px;
  margin-top: -1px;
}

.modal > form input:first-child{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.modal > form input[name='password-retype']{
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.modal .form-submit{
  display: block;
  margin-top: 10px;
  width: 100%;
}

.form-notif{
  text-align: left;
  font-size: 14px;
  line-height: 34px;
}

.form-notif > p{
  margin-bottom: 0;
}